body { /* De achtergrondkleur en de kleur van mijn tekst */
    background-color: rgb(0, 89, 255);
    color: white;
  }

  .navbar {
    overflow: hidden;
    background-color: #333;
  }

  .navbar a {
    float: left;
    font-size: 22px;
    color: white;
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    border-right: 3px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

/* Basisstijlen voor het dropdown-menu */
  .dropdown { 
    float: left;
    overflow: hidden;
    border-right: 3px solid black;
  }

  .dropdown .dropbtn {
    font-size: 22px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: lightblue;
    color: black;
  }

  /* Stijlen voor het zichtbare deel van de dropdown */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    background-color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Hover-effect voor de dropdown-opties */
  .dropdown-content a:hover {
    background-color: lightblue;
    color: black;
  }

  /* Zorg ervoor dat de dropdown zichtbaar wordt wanneer je eroverheen beweegt */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #alfabet { /* Hierdoor staan de plaatjes op de pagina binair stelsel links */
    text-align: left;
  }

  h1 { /* De kleur en plek van mijn h1 */
    color: white;
    text-align: center;
  }

  #mail { /* De kleur van de orginele link was blauw dus dat kon je niet zien */
color:red
  }

  #spel { /* Het was ontzichtbaar omdat hij blauw was */
    color:white
  }

  /* Stijl voor meerregelig tekstvak */
textarea {
  width: 300px;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(0, 89, 255);
  color: white;
}