body { /* De achtergrondkleur en de kleur van mijn tekst */
    background-color: rgb(0, 89, 255);
    color: white;
  }

  ul { /* Dit zorgt ervoor dat mijn menu boven in een balkje staat */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li { /* Hierdoor staan mijn links aan de linker kant */
    float: left;
  }
  
  li a { /* Zo ziet mijn menu eruit als je er niet overheen gaat */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) { /* Zo ziet het eruit als je eroverheen gaat */
    background-color: #111;
  }
  
  a:active { /* Dit zorgt ervoor dat de active pagina en daarvan de link de achtergrond kleur groen krijgt */
    background-color: green;
  }

  #alfabet { /* Hierdoor staan de plaatjes op de pagina binair stelsel links */
    text-align: left;
  }

  h1 { /* De kleur en plek van mijn h1 */
    color: white;
    text-align: center;
  }

  #mail { /* De kleur van de orginele link was blauw dus dat kon je niet zien */
color:red
  }

  #spel { /* Het was ontzichtbaar omdat hij blauw was */
    color:white
  }